<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
  <test name="TestOnAndroidPhoneMotoG5+">
    <classes>
       <class name="com.hibbett.testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
