<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
	<listeners>
		<listener class-name="com.hibbett.util.retryListener"></listener>
		<listener class-name="com.hibbett.util.ExtentReporterNG"></listener>
		<!-- <listener class-name="com.hibbett.util.TakesScreenshotOnFailure"></listener> -->
	</listeners>

	<test name="TestOnAndroid">
		<groups>
			<run>
				<exclude name="test"/>
				<include name="smoke" />
			</run>
		</groups>

		<classes>
			<class name="com.hibbett.testcases.LoginTest" />
			<class name="com.hibbett.testcases.SignUpTest" />
			<class name="com.hibbett.testcases.Ac_AboutUsTest" />
			<class name="com.hibbett.testcases.ShopTest" />
			<!-- <class name="com.hibbett.util.firstclass"/> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
